# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
.expo-manifests/
dist/
web-build/
expo-env.d.ts
.expo/web-build/
assets/.cache/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# generated native folders
/ios
/android
android/.gradle/
android/.cxx/
android/app/build/
android/build/
android/local.properties

# Firebase / Google keys (DO NOT COMMIT)
/google-services.json
/google-service-account.json
*.keystore
*.keystore.jks

# Metro
.metro-health-check*
.metro-cache/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
pnpm-debug.log*

# macOS / Windows trash files
.DS_Store
*.pem
Thumbs.db

# local env files
.env*.local
.env
.env.*
*.env

# typescript
*.tsbuildinfo

# example
app-example

# EAS build artifacts
*.apk
*.aab
*.ipa

# EAS credentials
credentials.json

# Editor folders
.vscode/

# Microsoft Word temporary files
~$*.docx
~*.tmp
*.tmp

# .idea files
.idea/

